@import "tailwindcss";

@font-face {
  font-family: "NotoSansLaos"; /* ชื่อฟอนต์ที่เราจะเรียกใช้ */
  src: url("../font/NotoSansLao-VariableFont_wdth,wght.ttf") format("truetype"); /* ไฟล์ฟอนต์และฟอร์แมต */
  font-weight: normal; /* น้ำหนักปกติ */
  font-style: normal; /* สไตล์ปกติ (ไม่เอียง) */
}
@font-face {
  font-family: "Roboto"; /* ชื่อฟอนต์ที่เราจะเรียกใช้ */
  src: url("../font/Roboto-VariableFont_wdth,wght.ttf") format("truetype"); /* ไฟล์ฟอนต์และฟอร์แมต */
  font-weight: normal; /* น้ำหนักปกติ */
  font-style: normal; /* สไตล์ปกติ (ไม่เอียง) */
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  font-family: "Roboto", "NotoSansLaos", Arial, Helvetica, sans-serif;
}

/* Body defaults */
body {
  line-height: 1.5;
  background-color: #f8f9fa;
  font-size: 16px;
}

/* Links */
a {
  text-decoration: none;
}

/* Images */
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

/* Utility */
.container {
  max-width: 96%;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Chrome, Safari, Edge */
/* ::-webkit-scrollbar {
  display: none;
} */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* สำหรับ Chrome, Safari และ Opera */
}

.contain {
  max-width: 96%;
  margin: 0 auto;
  width: 100%;
}
